.app {
  display: flex;
  min-height: 100vh;
  background-color: var(--surface-1);
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;

  @media (max-width: 768px) {
    padding: 1rem;
    padding-top: calc(56px + 1rem); // Account for mobile header height
  }
} 